.app {
  height: min-content;
  background-color: #88d0ff;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tweet {
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}
